/* --- Styling für Formular --- */

.color-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 300px;
    margin: 15px;
}

.add-color-button {
    padding: 2px;
    cursor: pointer;
    border-radius: 5px; /* rounded corners */
    transition: transform 0.2s ease;
}

.add-color-button:hover {
  transform: scale(1.05);
}