/* --- Styling für Formular --- */

.color-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 300px;
    margin: 15px;
}

.add-color-button {
    padding: 2px;
    cursor: pointer;
    border-radius: 5px; /* rounded corners */
}