body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(
    128,
    128,
    128
  ); /* a neutral grey is supposed to be the best choice for a true-color representation */
  padding: 10px;
}

.card-container {
  display: flex;
}

/* ---- Responsive Design: Desktop und Tablet ---- */
@media (min-width: 1200px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@media (min-width: 900px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Animation für Text when there is no card displayed */
.add-colors-message {
  font-size: 25px;
  display: block;
  text-align: center;
  padding: 2px 6px;
  color: white;

  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(243, 243, 236);
  }

  to {
    text-shadow:
      0 0 10px rgb(238, 142, 209),
      0 0 20px rgb(241, 67, 198),
      0 0 30px rgb(247, 6, 187);
  }
}
